@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&family=League+Spartan:wght@300&family=Mingzat&family=Mukta&family=Mulish&family=Raleway:wght@200;400&display=swap');
.programacion_box{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.programacion_box h1{
  color: white;
  z-index: 1;
}

.programacion_box p{
  color: white;
  margin: 30px;
  max-width: 800px;
  text-align: center;
  z-index: 1;
}

.animation{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation video{
  height: 100%;
  width: auto;
}

.fondo_lenguajes{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lenguaje{
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  position: relative;
}

.lenguaje .lenguaje_presentacion{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lenguaje .lenguaje_presentacion .lenguaje_ico{
  width: 170px;
  height: 170px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  box-shadow: 0 0px 10px #000;
  margin-bottom: 10px;
}

.lenguaje .lenguaje_presentacion h1{
  text-shadow: 0 0 3px black;
}

.informacion{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.informacion .tecnologia{
    width: 250px;
    height: auto;
    margin: 20px 70px;
}

.informacion .tecnologia h1{
  width: 100%;
  text-align: center;
}

@media (max-width: 400px) {
  .informacion .tecnologia{
    margin: 20px 15px;
  }
}

.informacion .tecnologia p{
  width: 100%;
  text-align: center;
}

.lenguaje .separador{
  position: absolute;
  width: 80%;
  border-bottom: 1px solid rgb(0, 0, 0);
  bottom: -5px;
}

.magadat-box{
  width: 90vw;
  height: 450px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  margin: 30px;
  box-shadow: 0 0 10px #000;
}

.imagen-sector{
  width: 50%;
  height: 100%;
  background-color: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-megadat{
  box-shadow: 0 0 5px #000;
  width: 90%;
  height: 400px;
  background-size: cover;
  background-image: url(~src/assets/images/screenshots/screenshot-megadat.jpg);
}

.descripcion-sector{
  background-color: rgb(12, 12, 12);
  color: snow;
  font-family: 'Raleway';
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.descripcion-sector b{
  font-size: 40px;
}

.descripcion-sector p{

}

.descripcion-sector .boton-megadat{
  justify-self:flex-end;
  align-self: center;
}

.descripcion-sector .boton-megadat{
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  color: snow;
  font-family: 'Josefin Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px #000;
  font-size: 18px;
  text-align: center;
  text-justify: center;
  margin: 20px;
  transition: 0.3s all;
  border: solid 2px black;
  padding-top: 5px;
  text-decoration: none;
}

.descripcion-sector .boton-megadat span{
  text-shadow: 0 0 2px #000;
}

.descripcion-sector .boton-megadat:hover{
  background-color: rgba(89, 88, 88, 0.647);
}

.descripcion-sector .github-ICO{
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 5px;
  background-image: url(~src/assets/images/redes_sociales/github.png);
  box-shadow: 0 5px 5px #000;
}


@media (max-width: 900px) {
  .magadat-box{
    flex-direction: column;
    height: auto;
  }

  .imagen-sector{
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .imagen-megadat{
    height: 200px;
    width: 400px;
  }

  .descripcion-sector{
    width: 100%;
  }

}
