<div class="programacion_box">
  <h1>Programación</h1>
  <p class="descripcion">La programación para mí es la clave para que la humanidad dé el siguiente paso. Gracias a ella podemos interactuar con sistemas artificiales que son capaces de hacer cosas realmente increíbles.</p>
  <div class="animation">
    <video autoplay [muted]="true" loop src="/assets/videos/extras/Animacion_programacion.mp4"></video>
  </div>
</div>
<div class="fondo_lenguajes">
  <div class="lenguaje" *ngFor="let lenguaje of lenguajesProgramacion; let i = index">
    <div class="lenguaje_presentacion">
      <div class="lenguaje_ico" [ngStyle]="{'background-image': 'url(' + lenguaje.imagen + ')'}"></div>
      <h1>{{lenguaje.nombre}}</h1>
    </div>
    <div class="informacion">
      <div class="tecnologia" *ngFor="let tecnologia of lenguaje.tecnologia">
        <h1>{{tecnologia.nombre}}</h1>
        <hr>
        <p>{{tecnologia.descripcion}}</p>
      </div>
      <div class="separador" *ngIf="i != lenguajesProgramacion.length-1"></div>
    </div>
  </div>
</div>
