@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&family=League+Spartan:wght@300&family=Mingzat&family=Mukta&family=Mulish&family=Raleway:wght@200;400&display=swap");
.programacion_box {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.programacion_box h1 {
  color: white;
  z-index: 1;
}

.programacion_box p {
  color: white;
  margin: 30px;
  max-width: 800px;
  text-align: center;
  z-index: 1;
}

.animation {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation video {
  height: 100%;
  width: auto;
}

.fondo_lenguajes {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lenguaje {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  position: relative;
}

.lenguaje .lenguaje_presentacion {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lenguaje .lenguaje_presentacion .lenguaje_ico {
  width: 170px;
  height: 170px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  box-shadow: 0 0px 10px #000;
  margin-bottom: 10px;
}

.lenguaje .lenguaje_presentacion h1 {
  text-shadow: 0 0 3px black;
}

.informacion {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.informacion .tecnologia {
  width: 250px;
  height: auto;
  margin: 20px 70px;
}

.informacion .tecnologia h1 {
  width: 100%;
  text-align: center;
}

@media (max-width: 400px) {
  .informacion .tecnologia {
    margin: 20px 15px;
  }
}

.informacion .tecnologia p {
  width: 100%;
  text-align: center;
}

.lenguaje .separador {
  position: absolute;
  width: 80%;
  border-bottom: 1px solid rgb(0, 0, 0);
  bottom: -5px;
}





.app-box{
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #5b0424;
  color: snow;
  margin: auto;
  box-shadow: 0 0 5px #000;
}

#buscaminas-app{
  flex-direction: row;
}

.app-box .video-sector{
  width: 50%;
  height: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c0637;
}

#buscaminas-app .video-sector{
  background-color: #d87b7d;
}

.app-box .video-sector video{
  width: 90%;
  box-shadow: 0 0 5px #000;
}

.app-box .descripcion-video-sector{
  width: 50%;
  height: 100%;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buscaminas-app .descripcion-video-sector{
  background-color: #583334;
}

.app-box .descripcion-video-sector h1{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

#buscaminas-app .descripcion-video-sector h1{
  padding-left: 30px;
  text-align: start;
}

.app-box .descripcion-video-sector p{
  padding: 30px;
  font-size: 19px;
  justify-content: center;
}

.app-box .descripcion-video-sector .separador-mundial{
  width: 100%;
  height: 60px;
  /* margin-bottom: 30px; */
  background-size: contain;
  background-position: center center;
  background-repeat:  no-repeat;
  background-blend-mode:soft-light;
  background-image: url(~src/assets/images/extras/Separador.png);
}

@media (max-width: 1050px){
  .app-box{
    flex-direction: column;
    height: auto;
    align-self: center;
  }

  .app-box .video-sector{
    width: 100%;
    padding: 20px;
  }

  .app-box .descripcion-video-sector{
    width: 100%;
  }
}

@media (max-width: 530px) {
  .app-box{
    margin-top: 30px;
    width: 100vw;
  }
  .app-box .video-sector{
    padding: 0px;
  }

  .app-box .video-sector video{
    width: 100%;
  }
}




.web-box {
  width: 90vw;
  height: 450px;
  display: flex;
  flex-direction: row;
  margin: 30px;
  box-shadow: 0 0 10px #000;
}

#megadat {
}

#brittania {
  flex-direction: row-reverse;
}

.imagen-sector {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#megadat .imagen-sector {
  background-color: rgb(30, 30, 30);
}

#brittania .imagen-sector {
  background-color: #d7447c;
}

.imagen-web {
  box-shadow: 0 0 5px #000;
  width: 90%;
  height: 400px;
  background-size: cover;
}

#megadat .imagen-web {
  background-image: url(~src/assets/images/screenshots/screenshot-megadat.jpg);
}

#brittania .imagen-web {
  background-image: url(~src/assets/images/screenshots/screenshot-brittania.jpg);
}

.descripcion-sector {
  background-color: rgb(12, 12, 12);
  color: snow;
  font-family: "Raleway";
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

#megadat .descripcion-sector {
  background-color: rgb(12, 12, 12);
}

#brittania .descripcion-sector {
  background-color: rgb(53, 6, 39);
}

.descripcion-sector b {
  font-size: 40px;
}

.descripcion-sector p {
}

.descripcion-sector .boton-web {
  justify-self: flex-end;
  align-self: center;
}

.descripcion-sector .boton-web {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: snow;
  font-family: "Josefin Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px #000;
  font-size: 18px;
  text-align: center;
  text-justify: center;
  margin: 20px;
  transition: 0.3s all;
  border: solid 2px black;
  padding-top: 5px;
  text-decoration: none;
}

.descripcion-sector .boton-web span {
  text-shadow: 0 0 2px #000;
}

#megadat .descripcion-sector .boton-web {
  background-color: rgb(43, 43, 43);
}

#megadat .descripcion-sector .boton-web:hover {
  background-color: rgba(89, 88, 88, 0.647);
}

#brittania .descripcion-sector .boton-web {
  background-color: #d7447c;
}

#brittania .descripcion-sector .boton-web:hover {
  background-color: rgb(110, 9, 66);
}


.descripcion-sector .github-ICO {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 5px;
  background-image: url(~src/assets/images/redes_sociales/github.png);
  box-shadow: 0 5px 5px #000;
  transition: 0.1s;
}

.descripcion-sector .github-ICO:hover {
  transform: translateY(-5px);
}

#brittania .descripcion-sector .github-ICO {
  background-blend-mode:color-dodge;
  background-color: #d7447c;
}

@media (max-width: 900px) {
  .web-box {
    flex-direction: column;
    height: auto;
  }

  #brittania{
    flex-direction: column;
    height: auto;
  }

  .imagen-sector {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .imagen-web {
    height: 200px;
    width: 400px;
  }

  .descripcion-sector {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .descripcion-sector .boton-web{
    align-self: flex-start;
    margin-left: 0;
  }

}

@media (max-width:  350px){
  .descripcion-sector .boton-web{
    width: 150px;
    align-self: center;
  }

  .descripcion-sector .github-ICO{
    position: relative;
    align-self: center;
  }
}
