<div class="programacion_box">
  <h1>Programación</h1>
  <p class="descripcion">La programación para mí es la clave para que la humanidad dé el siguiente paso. Gracias a ella podemos interactuar con sistemas artificiales que son capaces de hacer cosas realmente increíbles.</p>
  <div class="animation">
    <video autoplay [muted]="true" loop src="assets/videos/extras/Animacion_programacion.mp4"></video>
  </div>
</div>
<div class="fondo_lenguajes">
  <div class="lenguaje" *ngFor="let lenguaje of lenguajesProgramacion; let i = index" #Lenguajes>
    <div class="lenguaje_presentacion">
      <div class="lenguaje_ico" [ngStyle]="{'background-image': 'url(' + lenguaje.imagen + ')'}"></div>
      <h1>{{lenguaje.nombre}}</h1>
    </div>
    <div class="informacion">
      <div class="tecnologia" *ngFor="let tecnologia of lenguaje.tecnologia">
        <h1>{{tecnologia.nombre}}</h1>
        <hr>
        <p>{{tecnologia.descripcion}}</p>
      </div>
      <div class="separador" *ngIf="i != lenguajesProgramacion.length-1"></div>
    </div>
    <div *ngIf="i == 1" alt="Página web Megadat">
      <div class="magadat-box">
        <div class="imagen-sector">
          <div class="imagen-megadat" #imagenMegadat></div>
        </div>
        <div class="descripcion-sector">
          <b> Página Web Megadat</b>
          <p> Desarrollé la página web de una empresa de tecnología y reparación de pc.
            <br>
            En ella integré toda la información de la misma unido a una interfáz gráfica moderna e interacción con el usuario que logra una gran impresión al cliente.
          </p>
          <a class="boton-megadat" target="_blank" href="http://www.megadat.com.ar/inicio">IR A VERLA!</a>
          <a class="github-ICO" href="https://github.com/Lukitasedits/megadat-page" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
