.cueva{
  width: 105vw;
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 10000px;
  perspective-origin: center;
  transition: all 0.1s;

  background-color: rgb(0, 0, 0);
}

.cueva div{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.cueva .interruptor{
  width: 300px;
  height: 300px;
  border-radius: 500%;
  position: absolute;
  bottom: 70px;
  transform: translate(-180px);
}

.fondo{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(100px);
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Fondo.png');
}

.luz{
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Luz cueva.png');
  transition: 0.2s all;
}

.iluminacion{
  mix-blend-mode: overlay;
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Iluminación Artificial.png');
}

.hojas_izquierda{
  transform: translateZ(300px);
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Hojas Izquierda.png');
}


.hojas_derecha{
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Hojas Derecha.png');
}

.hojas_derecha{
  transform: translateZ(150px);
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Hojas Derecha.png');
}

.cueva .roca{
  transform: translateZ(500px);
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Roca Frontal.png');
}

.iluminacion_roca{
  mix-blend-mode: hard-light;
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Iluminación Roca.png');
}

.cueva .logo{
  transform: rotateY(20deg) translateX(-100px);
  width: 400px;
  height: 250px;
  align-self: center;
  background-position: center center;
  background-image: url('~src/assets/images/Capas Cueva/Logo lukitasedits led on.png');
  animation-name: brillo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes brillo{
  0%{
    background-image: url('~src/assets/images/Capas Cueva/Logo lukitasedits led on.png');

  }
  100%{
    background-image: url('~src/assets/images/Capas Cueva/Logo lukitasedits led off.png');

  }
}

