.footer{
  height: 70px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 0 10px black;
}

.red{
  display: flex;
  align-items: center;
}

.iconos{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.icono{
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 10px;
}

.wpp_ico{
  background-image: url('~src/assets/images/redes_sociales/Whatsapp.png');
}

.ig_ico{
  background-image: url('~src/assets/images/redes_sociales/Instagram.png');
}

.gh_ico{
  background-image: url('~src/assets/images/redes_sociales/github-footer.png');
}

.red a{
  color: black;
  text-decoration: none;

}

.copy{
  display: flex;
  align-items: center;
  justify-content: center;
}

.relleno{
  width: 200px;
}

@media(max-width:600px){
  .copy{
    display: none;
  }

  .footer{
    align-items: center;
    justify-content: center;
  }

  .relleno{
    display: none;
  }
}
