


  <div class="cover">
    <div class="btn_cerrar" (click)="cerrarReproductor()"></div>
    <div class="medio">
      <div class="boton_reproductor btn_izq" [ngStyle]="{'opacity': (indice > 0)?'1':'0', 'cursor': (indice > 0)?'pointer':'default'}" (click)="anteriorAnimacion()"></div>
      <div class="reproductor">
        <video autoplay [muted]="true" controls [src]="'assets/videos/animaciones/' + animaciones[indice].nombre + '.mp4'"> </video>
        <div class="descripcion-box">
            <br/>
            <span id="titulo">{{animaciones[indice].titulo}}</span>
            <br/>
            <hr/>
            <span id="descripcion">
              {{animaciones[indice].descripcion}}
            </span>
          </div>
        </div>
      <div class="boton_reproductor btn_der" [ngStyle]="{'opacity': (indice < animaciones.length-1)?'1':'0', 'cursor': (indice < animaciones.length-1)?'pointer':'default'}" (click)="siguienteAnimacion()"></div>
    </div>
    <div class="barra_miniaturas">
      <div class="imagenes" [ngStyle]="{'width': 'calc(267px' + animaciones.length + ')', 'left': carruselPos + 'px'}">
        <div class="miniatura" *ngFor="let imagen of animaciones; let i = index" [ngStyle]="{'background-image': 'url(assets/images/miniaturas/' + imagen.nombre + '.jpg)', 'width': widthCImagen +'px'}">
          <div class="reproducir" (click)="reproducir(i)">Reproducir</div>
        </div>
      </div>

      <!--div class="boton_miniaturas btn_izq" (click)="moverCarruselIzq()"></div-->
      <!--div class="boton_miniaturas btn_der" (click)="moverCarruselDer()"></div-->

    </div>
  </div>
