.cover{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.btn_cerrar{
  background-image: url("~src/assets/images/botones/Btn_close.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 20px;
  align-self: flex-end;
}

.cover .medio{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boton_reproductor{
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: cover;
}

.reproductor{
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.reproductor video{
  width: 70%;
  max-height: 100%;
  margin: 0 10px;
  background-color: black;
}

.reproductor div{
  margin: 5px;
  height: 100%;
  width: 30%;
  overflow: scroll;
  text-align: center;
}

@media(max-width: 1200px){
  .reproductor{
    padding: 0;
    flex-direction: column;
    height: 400px;
    width: 90%;
  }
  .reproductor video{
    max-height: 100%;
    width: 100%;
  }

  .reproductor div{
    width: 100%;
    display: none;
  }
}

.descripcion-box::-webkit-scrollbar {
  display: none;
}

#titulo{

  font-size: 25px;
  color: darkgrey;
}

br{
  color: white;
  height: 20px;
}

#descripcion{
  font-size: 15px;
  color: aliceblue;
}

.barra_miniaturas{
  height: 150px;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
}

.boton_miniaturas{
  position: absolute;
  cursor: pointer;
  margin: 10px;
  height: 30px;
  width: 30px;
  background-size: cover;
  top: calc(50% - 30px);
}


.btn_izq{
  background-image: url("~src/assets/images/botones/Btn_left.png");
}


.btn_der{
  background-image: url(~src/assets/images/botones/Btn_right.png);
}


.barra_miniaturas .btn_izq{
  left: 10px;
}

.barra_miniaturas .btn_der{
  right: 10px;
}

.imagenes{
  transition: 0.5s all ease;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: row;

}

  .miniatura{
  height: 100%;
  background-size: cover;
  }

  .reproducir{
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .reproducir:hover{
    transition: 0.5s all ease;
    background-color: rgba(0,0,0,0.4);
    color: azure;
    text-decoration: underline;
  }

  .barra_miniaturas::-webkit-scrollbar{
    height: 10px;
    background-color: black;
  }

  .barra_miniaturas::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 10px;
  }

