.twitch_fondo{
  width: 100%;
  height: auto;
}

.seccion{
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.twitch_fondo .seccion:nth-child(even){
  background-color: blueviolet;
}

.twitch_fondo .seccion:nth-child(odd){
  background-color: aliceblue;
}

.seccion .preview{
  width: 90%;
  height: 400px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.seccion .preview video{
  width: 100%;
}

.seccion h1{
  width: 50%;
  height: auto;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

@media (max-width: 700px){
  .seccion{
    height: 800px;
  }
  .seccion h1{
    font-size: 50px;
  }
}

@media (max-width: 500px){
  .seccion{
    height: 700px;
  }
  .seccion .preview{
    height: 250px;
  }
  .seccion h1{
    font-size: 35px;
  }
}

.twitch_fondo .seccion:nth-child(even) h1{
  color: aliceblue;
}

.twitch_fondo .seccion:nth-child(odd) h1{
  color: blueviolet;
}

.seccion span{
  margin: 30px;
  font-size: 20px;
  text-align: center;
}

.twitch_fondo .seccion:nth-child(even) span{
  color: aliceblue;
}

.twitch_fondo .seccion:nth-child(odd) span{
  color: black;
}

.seccion p{
  text-align: center;
  max-width: 90%;
  font-size: 15px;
}

.twitch_fondo .seccion:nth-child(even) p{
  color: aliceblue;
}

.twitch_fondo .seccion:nth-child(odd) p{
  color: black;
}

.twitch_fondo .seccion .ver_mas{
  width: 100px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  bottom: 0;
}

.twitch_fondo .seccion .ver_mas:hover{
  box-shadow: 0 2px 4px black;
  bottom: 2px;
}

.twitch_fondo .seccion:nth-child(even) .ver_mas{
  background-color: aliceblue;
}

.twitch_fondo .seccion:nth-child(odd) .ver_mas{
  background-color: blueviolet;
  color: aliceblue;
}
