<div class="fondo">
  <div class="boton boton_cerrar" (click)="cerrar()"></div>
  <h1 class="titulo_emprendimiento">{{canal.nombre.toUpperCase()}}</h1>
  <div class="seccion_media">
    <div class="boton btn_left" (click)="anteriorMedia()" [ngStyle]="{'opacity': (indiceMedia == 0)? 0:1, 'cursor': (indiceMedia == 0)?'default':'pointer'}"></div>
    <div class="cuadro">
      <div class="reproductor">
        <div class="banda" [@changeOpacity]="(isVisible)? 'visible' : 'invisible'">
          <div class="info">
            <h1>{{canal.media[indiceMedia].titulo}}</h1>
          </div>
          <div class="imagen" *ngIf="!esVideo(canal.media[indiceMedia])" [ngStyle]="{'background-image': 'url('+ canal.rutaMedia + canal.media[indiceMedia].nombre + '.' +  canal.media[indiceMedia].extension + ')'}"></div>
          <video *ngIf="esVideo(canal.media[indiceMedia])" autoplay [muted]="true" loop [src]="canal.rutaMedia + canal.media[indiceMedia].nombre + '.' + canal.media[indiceMedia].extension"></video>
        </div>
        <div class="fondo_negro"></div>
      </div>
    </div>
    <div class="boton btn_right" (click)="siguienteMedia()" [ngStyle]="{'opacity': (indiceMedia == canal.media.length-1)? 0:1, 'cursor': (indiceMedia == canal.media.length-1)?'default':'pointer'}"></div>
  </div>
  <div class="items">
    <div class="item" *ngFor="let item of canal.media; let i = index" (click)="(indiceMedia == i)? '':cambiarMedia(i)" [ngStyle]="{'background-color': (indiceMedia == i)?'white':'rgba(255, 255, 255, 0.3)'}">
    </div>
  </div>
</div>
