.fondo{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  position: relative;
}

.titulo_emprendimiento{
  position: relative;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  top: 50px;
  transition: all 0.5s ease;
}

.seccion_media{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
}

.boton{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: all 1s;
}

.boton_cerrar{
  margin: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('~src/assets/images/botones/Btn_close.png');
}

.btn_left{
  margin: 0 30px;
  background-image: url('~src/assets/images/botones/Btn_left.png');
}

.btn_right{
  margin: 0 30px;
  background-image: url('~src/assets/images/botones/Btn_right.png');
}

.cuadro{
  position: relative;
  margin: auto;
  width: 60%;
  height: auto;
  background-color: #3f366f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 3px 4px black;
  transition: all 0.5s ease;
}

.cuadro .reproductor{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.reproductor .banda{
  height: 400px;
  width: 100%;
  min-width: 400px;
  position: relative;
  z-index: +1;
  transition: all 0.5s ease;
}

.fondo_negro{
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
}

.banda video{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.banda .imagen{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
background-color: black;
}

.banda .info{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  transition: 0.5s all ease;
}

.cuadro .reproductor .info:hover{
  opacity: 1;
}

.cuadro .reproductor .info h1{
  color: white;
}

.items{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10px;
  bottom: 30px;
  transition: all 0.5s ease;
}

.items .item{
  background-color: rgba(255, 255, 255, 0.3);
  width: 10px;
  height: 10px;
  border: solid  white 1.5px;
  border-radius: 10px;
  margin: 0 2%;
  cursor: pointer;
  transition: 0.2s all ease;
}

.item:hover{
  box-shadow: 0 0 5px white;
}

@media (max-width: 600px){

  .titulo_emprendimiento{
    top: 100px;
    font-size: 30px;
  }

  .seccion_media{
    top: 160px;
  }

  .cuadro{
    width: 100%;
    height: auto;
    padding: 0;
  }

  .banda{
    max-height: 200px;
  }

  .items{
    bottom: 100px;
    justify-content: space-around;
    padding: 0 10px 0 10px;
  }


  .seccion_media .boton{
    display: none;
  }

}
