.fondo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  flex-direction: column;
}

.fondo .emprendimiento{
  background-color: rgb(175, 245, 221);
  width: 65%;
  margin: 30px;
  display: flex;
  padding: 15px;
}

.fondo .emprendimiento .texto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fondo .emprendimiento .texto .titulo{
  height: 30%;
  width: 80%;
  margin: 20px;
  transition: all 0.5s ease;
}

.fondo .emprendimiento .texto .descripcion{
  padding: 10%;
  height: 70%;
  width: 100%;
}

.fondo .emprendimiento .galeria{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fondo .emprendimiento .galeria .boton{
  height: 40px;
  width: 40px;
  background-size: cover;
}

.btn_izq{
  background-image: url(~src/assets/images/botones/Btn_left.png);
}

.btn_der{
  background-image: url(~src/assets/images/botones/Btn_right.png);
}

.fondo .emprendimiento .galeria .imagenes{
  width: 475px;
  height: 475px;
  background-color: black;
  position: relative;
  background-position: center center;
  overflow: scroll;
  overflow-y: hidden;
}

.fondo .emprendimiento .galeria .imagenes::-webkit-scrollbar{
  height: 15px;
  background-color: white;
}

.fondo .emprendimiento .galeria .imagenes::-webkit-scrollbar-thumb{
  cursor: ew-resize;
  background-color: rgb(231, 168, 233);
  border-radius: 4px;
}


.fondo .emprendimiento .galeria .imagenes .deslizar{
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family:sans-serif;
  opacity: 0%;
}

.fondo .emprendimiento .galeria .imagenes .deslizar:hover{
 opacity: 100%;
}


.fondo .emprendimiento .galeria .imagenes .banda{
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 1s all;
  position: relative;
}

.fondo .emprendimiento .galeria .imagenes .banda .imagen{
  background-size: cover;
  background-position: center center;
  width: 475px;
  height: 475px;
}

.fondo .emprendimiento .galeria .imagenes .banda video{
  height: 100%;
  width: 475px;
}

@media(max-width:1250px){
  .fondo .emprendimiento{
    flex-direction: column;
    width: 90%;
  }

  .fondo .emprendimiento .galeria{
    width: 100%;
  }

  .fondo .imagenes .banda div video{
    width: 100%;
  }

  .fondo .imagenes .banda .imagen{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .fondo .emprendimiento .texto{
    justify-content: center;
    align-items: center;
  }

  .fondo .emprendimiento .texto .titulo{
    margin: 50px 35px 0 35px;
    text-align: center;
  }

  .fondo .emprendimiento .texto .descripcion{
    text-align: center;
  }

  @media (max-width: 550px) {

    .banda{
      overflow: hidden;
    }

    .galeria .boton{
      display: none;
    }
  }

}
