<div class="fondo">
  <div class="emprendimiento" *ngFor="let emp of emprendimientos; let i = index">
    <div class="texto">
      <h1 class="titulo"><b>{{emp.titulo}}</b></h1>
      <p class="descripcion">{{emp.descripcion}}</p>
    </div>
    <div class="galeria">
      <div class="boton btn_izq" [ngStyle]="{'opacity': opacidadIzq[i], 'cursor': cursorIzq[i]}" (click)="atras(i)" ></div>
      <div class="imagenes">
        <div [ngStyle]="{'left':izquierdaMov[i] + 'px', 'width': 'calc(475px * ' + emp.trabajos.length + ')'}" class="banda">
          <div width="100%" height="100%" *ngFor="let trabajo of emp.trabajos">
            <video *ngIf="trabajo.extension == 'mp4' else elseBlock" width="475px" autoplay loop [muted]="true" [src]="emp.ruta + trabajo.nombre + '.' + trabajo.extension"></video>
            <ng-template #elseBlock>
              <div *ngIf="trabajo.extension == 'jpg' || trabajo.extension == 'jpeg' || trabajo.extension == 'png'"  [ngStyle]="{'background-image': 'url(' + emp.ruta + trabajo.nombre + '.' + trabajo.extension + ')'}"></div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="boton btn_der" [ngStyle]="{'opacity': opacidadDer[i], 'cursor': cursorDer[i]}" (click)="adelante(emp.trabajos.length, i)"></div>
    </div>
  </div>
</div>
