@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Mulish&family=Raleway:wght@200&display=swap");

.main_box {
  background-image: url("~src/assets/images/lukitasedits/Banner_lukitasedits.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
}

.main_box h1 {
  position: absolute;
  top: calc(50% - 65px);
  color: aliceblue;
  transition: all 0.5s ease;
  font-size: 65px;
  z-index: +1;
}

@media (max-width: 500px) {
  .main_box h1 {
    font-size: 40px;
  }
}

app-cueva {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.main_box video {
  position: absolute;
  height: auto;
}

.main_box h1:focus {
  cursor: default;
}

.mensaje_box {
  height: 400px;
  background-color: rgb(116 60 188);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.mensaje_box span {
}

.galeria_animaciones {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
  position: relative;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titulo {
  color: aliceblue;
  text-align: center;
  margin: 15px;
  font-size: 30px;
  text-shadow: 0px 0 5px black;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.play:hover {
  cursor: pointer;
  text-shadow: 0 0 3px white;
}

.btn_play {
  margin-right: 10px;
  background-image: url("~src/assets/images/botones/Btn_play.png");
  background-size: cover;
  height: 40px;
  width: 40px;
}

.repro_vid {
  color: aliceblue;
  font-size: 20px;
  text-decoration: underline;
  font-family: "Mulish", sans-serif;
}

.btn_mov {
  margin: 10px;
  background-size: cover;
  background-position: center center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.btn_izquierda {
  background-image: url("~src/assets/images/botones/Btn_left.png");
}

.btn_derecha {
  background-image: url("~src/assets/images/botones/Btn_right.png");
}

.item_central {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.programacion_box {
  width: 100%;
  height: 600px;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.programacion_box .programacion_titulo {
  color: white;
  font-size: 30px;
  margin-bottom: 70px;
}

.programacion_box .lenguajes {
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.programacion_box .lenguajes .lenguaje {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.programacion_box .lenguajes .lenguaje .imagen_lenguaje {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  transition: 0.2s all;
  box-shadow: 0 2px 10px #000;
}

.programacion_box .lenguajes .lenguaje .imagen_lenguaje:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px #000;
}

.programacion_box .lenguajes .lenguaje .nombre_lenguaje {
  color: aliceblue;
  font-size: 20px;
}

.delphi_ico {
  background-image: url(~src/assets/images/iconos_lenguajes/Delphi_ICO.png);
}

.java_ico {
  background-image: url("~src/assets/images/iconos_lenguajes/Java_ICO.png");
}

.web_ico {
  background-image: url("~src/assets/images/iconos_lenguajes/Web_ICO.png");
}

.info_personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 60px;
}

.info_personal .sobre_mi {
  font-size: 30px;
  margin-bottom: 70px;
}

.info_personal .personal_wrapper {
  width: 90vw;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 130px;
}

.info_personal .personal_wrapper .descripcion {
  width: 40%;
  border-radius: 10px;
  text-align: justify;
  font-size: 20px;
  color: white;
  font-family: "Inter";
  overflow-x: hidden;
  background-color: blueviolet;
  z-index: 10;
}

.info_personal .personal_wrapper .descripcion .contenido {
  position: absolute;
  width: 100%;
  padding: 60px;
}

.info_personal .personal_wrapper .descripcion .contenido a {
  color: rgb(83, 226, 226) !important;
}

.info_personal .personal_wrapper .descripcion .cursor {
  color: white;
  animation: blink 1s step-end infinite;
  font-weight: 100;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.info_personal .personal_wrapper .descripcion .placeholder {
  width: 100%;
  padding: 60px;
  opacity: 0;
}

.info_personal .personal_wrapper .character_wrapper {
  width: 40%;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(0, rgba(0, 0, 0, 1) 0%, rgb(40, 40, 40) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s all ease;
}

.info_personal .personal_wrapper .character_wrapper app-character {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .info_personal .sobre_mi {
    margin-bottom: 0;
  }

  .info_personal .personal_wrapper {
    flex-direction: column-reverse;
    padding-top: 0;
    gap: 0;
  }

  .info_personal .personal_wrapper .descripcion {
    width: 100%;
  }

  .info_personal .personal_wrapper .descripcion .contenido {
    position: relative;
  }

  .info_personal .personal_wrapper .descripcion .placeholder {
    display: none;
  }

  .info_personal .personal_wrapper .character_wrapper {
    width: 100%;
    background: none;
    overflow: hidden;
  }

  .info_personal .personal_wrapper .character_wrapper app-character {
    margin-bottom: -400px;
  }
}

.form-contacto {
  height: 700px;
  width: 100%;
  background-image: url("~src/assets/images/extras/Fondo_contacto.jpg");
  background-position: center center;
  background-size: cover;
  background-color: rgb(39, 31, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contacto form {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}

@media (max-width: 900px) {
  .form-contacto form {
    width: 100%;
  }
}

.form_mail_name {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.form-contacto form input {
  color: aliceblue;
  border: none;
  border-bottom: 1px aliceblue solid;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  width: 70%;
  margin: 20px;
}

.form-contacto form .info_personal input {
  margin: 0;
  width: 49%;
}

.form-contacto form input::placeholder {
  color: aliceblue;
  opacity: 0.7;
}

.form-contacto form input:hover {
  border: 1px aliceblue solid;
}

.form-contacto form textarea {
  color: aliceblue;
  border: 1px aliceblue solid;
  width: 70%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  resize: none;
}
.form-contacto form textarea::placeholder {
  color: aliceblue;
  opacity: 0.7;
}

.form-contacto form button {
  margin: 20px;
  width: 70%;
  height: 45px;
  outline: 0;
  border: none;
  background-color: aliceblue;
  transition: all 0.2s;
}

.form-contacto form button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: aliceblue;
  border: 1px solid aliceblue;
}
