@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Mulish&family=Raleway:wght@200&display=swap');


.main_box {
  background-image: url('~src/assets/images/lukitasedits/Banner_lukitasedits.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main_box h1{
  position: absolute;
  top: calc(50% - 65px);
  color: aliceblue;
  transition: all 0.5s ease;
  font-size: 65px;
  z-index: +1;
}

@media (max-width:500px){
  .main_box h1{
    font-size: 40px;
  }
}

.main_box video {
  position: absolute;
  height: auto;
}

.main_box h1:focus{
  cursor:default;
}

.mensaje_box{
  height: 400px;
  background-color: rgb(116 60 188);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.mensaje_box span{

}

.galeria_animaciones{
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
  position: relative;
}

.color-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.titulo{
  color: aliceblue;
  text-align: center;
  margin: 15px;
  font-size: 30px;
  text-shadow: 0px 0 5px black;
}

.play{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.play:hover{
  cursor: pointer;
  text-shadow: 0 0 3px white;
}

.btn_play{
  margin-right: 10px;
  background-image: url('~src/assets/images/botones/Btn_play.png');
  background-size: cover;
  height: 40px;
  width: 40px;
}

.repro_vid{
  color:aliceblue;
  font-size: 20px;
  text-decoration: underline;
  font-family: 'Mulish', sans-serif;
}

.btn_mov{
  margin: 10px;
  background-size: cover;
  background-position: center center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.2s all ease;
  }

.btn_izquierda{
  background-image: url('~src/assets/images/botones/Btn_left.png');
}

.btn_derecha{
  background-image: url('~src/assets/images/botones/Btn_right.png');
}


.item_central{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.programacion_box{
  width: 100%;
  height: 600px;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.programacion_box .programacion_titulo{
  color: white;
  font-size: 30px;
  margin-bottom: 70px;
}

.programacion_box .lenguajes{
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.programacion_box .lenguajes .lenguaje{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.programacion_box .lenguajes .lenguaje .imagen_lenguaje{
  width: 250px;
  height: 250px;
  border-radius: 1000px;
  background-size: cover;
  cursor: pointer;
}

.programacion_box .lenguajes .lenguaje .nombre_lenguaje{
  color: aliceblue;
  font-size: 20px;
}

.delphi_ico{
  background-image: url(~src/assets/images/iconos_lenguajes/Delphi_ICO.png);
}

.java_ico{
  background-image: url('~src/assets/images/iconos_lenguajes/Java_ICO.png');
}

.web_ico{
  background-image: url(~src/assets/images/iconos_lenguajes/Web_ICO.png);
}

.experience_box{
  background-color: lavender;
  width: 100%;
  height: 1400px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.box{
  height: 697.5px;
  display: flex;
  margin: 1.5%;
  justify-content: space-between;
}


.separador_box{
  position:absolute;
  top: 50%;
  width: 100%;
  height: 0px;
  border-bottom: 5px rgb(155, 235, 228) dashed;
}

.experience_box .box .descripcion{
  width: 30%;
  height: 100%;
}

.experience_box .box .box_img {
  height: 100%;
  width: 50%;
  background-image: url(~src/assets/images/portadas_experiencia/Twitch.jpg);
  background-size: cover;
  background-position: center center;
}

.experience_box .box .emprendimientos_img{
  background-image: url(~src/assets/images/portadas_experiencia/Emprendimientos.jpg);
  background-size: cover;
  background-position: center center;
}

.experience_box .box .descripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0 100px;
}

.experience_box .box .descripcion h1{
  color: blueviolet;
}

.experience_box .box .descripcion span{
  color: dimgray;
}

.experience_box .box .descripcion .ver_mas{
  color: white;
  margin-top: 25px;
  background-color: blueviolet;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.experience_box .box .descripcion .ver_mas:hover{
  transform: translateY(-2.5px);
  box-shadow: 0 2px 4px black;
  bottom: 2px;
}

@media(max-width:900px){
  .box{
    flex-direction: column;
    align-items: center;
  }
  .experience_box .box .descripcion{
    width: 80%;
    align-items: center;
  }

  .experience_box .box .box_img{
    order:-1;
    margin: 20px;
  }

  .experience_box .box .descripcion h1{
    text-align: center;
  }
  .experience_box .box .descripcion p{
    text-align: center;
  }

  .experience_box .box .descripcion .ver_mas{
    margin-bottom: 40px;
  }
}

.form-contacto{
  height: 700px;
  width: 100%;
  background-image: url('~src/assets/images/extras/Fondo_contacto.jpg');
  background-position: center center;
  background-size: cover;
  background-color: rgb(39, 31, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contacto form{
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s all
}

@media(max-width:900px){
  .form-contacto form{
    width: 100%;
  }
}

.info_personal{
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-between;

}
.form-contacto form input{
  color: aliceblue;
  border: none;
  border-bottom: 1px aliceblue solid;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  width: 70%;
  margin: 20px;
}

.form-contacto form .info_personal input{
  margin:  0;;
  width: 49%;
}

.form-contacto form input::placeholder{
  color: aliceblue;
  opacity: .7;
}


.form-contacto form input:hover{
  border: 1px aliceblue solid;
}

.form-contacto form textarea{
  color: aliceblue;
  border: 1px aliceblue solid;
  width: 70%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  resize: none;
}
.form-contacto form textarea::placeholder{
  color: aliceblue;
  opacity: .7;
}

.form-contacto form button{
  margin: 20px;
  width: 70%;
  height: 45px;
  outline: 0;
  border: none;
  background-color: aliceblue;
  transition: all 0.2s;
}

.form-contacto form button:hover{
  background-color: rgba(255, 255, 255, 0.1);
  color: aliceblue;
  border: 1px solid aliceblue;
}
